@import "../../styles/veriables.scss";

.root {
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 400;
  color: white;
  padding: $paddingButton;
  transition: background-color 250ms;
  
}

.text {
  background: none;
  color: $variantTextButtonColorText;
  &:hover {
    background-color: $variantTextButtonColorHover;
  }
}

.contained {
  background-color: $variantContainedBG;
  color: $variantContainedTextColor;

  &:hover {
    background-color: $variantContainedColorHover;
  }
}

.outlined {
  background: none;
  color: $variantOutlinderTextColor;
  border: 1px solid $variantOutlinderBorder;
  transition: border 250ms;
  &:hover {
    border: 1px solid $variantOutlinderHover;
    background-color: rgb(24, 30, 37)
  }
}
