@import "../../styles/veriables.scss";
@import "../../styles/mixins.scss";

.root {
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 400;
  color: white;
  padding: $sm;
  transition: all 0.2s linear;
}
.root.sm {
  padding: $sm;
}
.root.lg {
  padding: $lg;
}
.root.md {
  padding: $md;
}
.text {
  @include button(
    transparent,
    $secondaryHover,
    $main,
    1px solid transparent,
    1px solid transparent
  );
}

.contained {
  @include button(
    $main,
    $mainHover,
    $mainDark,
    1px solid $main,
    1px solid $mainHover
  );
}

.outlined {
  @include button(
    transparent,
    $secondaryHover,
    $main,
    1px solid $secondary,
    1px solid $main
  );
}

.text.secondary {
  @include button(
    transparent,
    $secondaryColorHover,
    $secondaryColor,
    1px solid transparent,
    1px solid $secondaryColorHover
  );
}

.text.success {
  @include button(
    $successBG,
    $successBGHover,
    #162817,
    1px solid $successBG,
    1px solid $successBGHover
  );
}

.text.error {
  @include button(
    none,
    $secondaryHover,
    $errorColor,
    1px solid $errorColor,
    1px solid $errorColor
  );
}

.contained.secondary {
  @include button(
    transparent,
    $secondaryColorHover,
    $secondaryColor,
    1px solid transparent,
    1px solid $secondaryColorHover
  );
}

.contained.success {
  @include button(
    $successBG,
    $successBGHover,
    #162817,
    1px solid $successBG,
    1px solid $successBGHover
  );
}

.contained.error {
  @include button(
    transparent,
    $secondaryHover,
    $errorColor,
    1px solid $errorColor,
    1px solid $errorColor
  );
}

.outlined.secondary {
  @include button(
    transparent,
    $secondaryColorHover,
    $secondaryColor,
    1px solid transparent,
    1px solid $secondaryColorHover
  );
}

.outlined.success {
  @include button(
    $successBG,
    $successBGHover,
    #162817,
    1px solid $successBG,
    1px solid $successBGHover
  );
}

.outlined.error {
  @include button(
    transparent,
    $secondaryHover,
    $errorColor,
    1px solid $errorColor,
    1px solid $errorColor
  );
}

.text.disabled {
  @include button(
    transparent,
    transparent,
    $disabledColor,
    1px solid transparent,
    1px solid transparent
  );
  cursor: not-allowed;
}
.contained.disabled {
  @include button(
    $disabledBorder,
    $disabledBorder,
    $disabledColor,
    1px solid $disabledBorder,
    1px solid $disabledBorder
  );
  cursor: not-allowed;
}
.outlined.disabled {
  @include button(
    transparent,
    transparent,
    $disabledColor,
    1px solid $mainDark,
    1px solid $mainDark
  );
  cursor: not-allowed;
}
