@mixin button($background, $hover, $color, $border, $borderHover) {
  background-color: $background;
  color: $color;
  border: $border;
  &:hover {
    background-color: $hover;
    border: $borderHover;
  }
}

@mixin textField($background, $hover, $border, $borderHover, $focus, $color) {
  background-color: $background;
  color: $color;
  border-bottom: $border;
  &:hover {
    border-bottom: $borderHover;
  }
  &:focus {
    border-bottom: $focus;
  }
}
