$sm: 8px 30px;
$md: 14px 30px;
$lg: 20px 30px;
$mainDark: #101418;
$main: #9acfff;
$mainHover: #5cb6fe;
$secondary: #63a5db;
$secondaryHover: rgba(144, 202, 249, 0.1);
$disabledColor: #4c4f52;
$disabledBorder: #2d3134;
$secondaryColor: #ce93d8;
$secondaryColorHover: rgba(206, 147, 216, 0.1);
$successBG: #66bb6a;
$successBGHover: rgba(102, 187, 106, 0.5);
$errorColor: #f44336;
$textFieldColor: #b8b9ba;
$textFieldColorHover: #e2e2e2;
$textFieldFocus: #66b2ff;
$warningColor: #e3e31c;
$colorText: #fff;
$disabledTextField: #44474a;
$filledBG: #26292d;
$labelDisabled: #828486;
$labelColor: #b7b8b9;
