$paddingButton: 8px 30px;
$mainDark: #101418;
$main: #9acfff;
$mainHover: #5cb6fe;
$secondary: #63a5db;
$secondaryHover: rgba(144, 202, 249, 0.1);
$disabledColor: #4c4f52;
$disabledBorder: #2d3134;
$secondaryColor: #ce93d8;
$secondaryColorHover: rgba(206, 147, 216, 0.1);
$successBG: #66bb6a;
$successBGHover: rgba(102,187,106, 0.5);
$errorColor: #bd382f;
