$paddingButton: 8px 30px;
$variantTextButtonColorHover: rgb(57, 78, 95);
$variantTextButtonColorText: #90caf9;
$variantContainedBG: #90caf9;
$variantContainedTextColor: #101418;
$variantContainedColorHover: #36a4ff;
$variantOutlinderBorder: #506f89;
$variantOutlinderHover: #63a5db;
$variantOutlinderTextColor: #81b5de;
