@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.root {
  padding: 0;
  outline: none;
  border: none;
  font-size: 18px;
  transition: all 0.2s linear;
}

.standard {
  background: none;
  border-bottom: 1px solid #b8b9ba;
  color: #ffff;
  font-size: 18px;
  &:hover {
    border-bottom: 1px solid #e2e2e2;
  }
  &:focus {
    border-bottom: 1px solid #66b2ff;
  }
}

//.wrap .standard:focus + label {
//  transform: translateY(-20px);
//  color: $main;
//}

.label {
  color: #b7b8b9;
  font-size: 20px;
  pointer-events: none;
  transition: 0.2s linear;
}


.labelActive {
  position: absolute;
  color: $mainHover;
  font-size: 0.8rem;
  bottom: 1.2rem;
  left: 0;
}

.labelInactive {
  position: absolute;
  bottom: 2px;
  left: 0;
}

.wrap {
  position: relative;
}

.filled {
  background-color: #26292d;
  border-bottom: 2px solid #b8b9ba;
  font-size: 24px;
  color: #ffff;
  border-radius: 5px;
  outline: none;
  height: 50px;
  &:hover {
    border-bottom: 1px solid #e2e2e2;
    background-color: #42464d;
  }
  &:focus {
    border-bottom: 1px solid #66b2ff;
  }
}
